<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Rating period</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Rating period</li>
                    </ol>
                </div><!-- /.col -->
                <div class="col-md-12">
                    <div style="display: none;" class="alert alert-success"></div>
                    <div style="display: none;" class="alert alert-danger"></div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add date slots </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <form id="ratingPeriodForm">
                            <div class="card-body">
                                <div class="row mb-10">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">From</label>
                                            <div class="input-group date" id="fromdate" data-target-input="nearest">
                                                <input type="text" value="{{empData.[0].fromdate}}" name="fromdate"
                                                    class="form-control datetimepicker-input" data-target="#fromdate" />
                                                <div class="input-group-append" data-target="#fromdate"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="data_id" value="">
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">To</label>
                                            <div class="input-group date" id="todate" data-target-input="nearest">
                                                <input type="text" value="{{empData.[0].todate}}" name="todate"
                                                    class="form-control datetimepicker-input" data-target="#joindate" />
                                                <div class="input-group-append" data-target="#todate"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="rating-period-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sl no.</th>
                                        <th>From date</th>
                                        <th>To date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="period-modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete ?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" data-id="" class="btn btn-primary delete-action-period">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>